
<h1> <%= " #{@house_members.count} Members " %> </h1>
<% @house_members.each do |member| %>
<ul class='house-member'>
      <li class='name'> House Member: <%= member.name %> </li>
      <p class='role'> Role: <%= member.role %> </p>
      <p class='house'> House: <%= member.house %> </p>
      <p class='patronus'> Patronus: <%= member.patronus %> </p>
    </ul>
<% end %>
